---
---
<footer class="bg-gray-900 text-white py-4 mt-20">
    <div class="flex justify-center space-x-6">
     
      <a href="#" class="hover:text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M22.23 5.924c-.807.36-1.68.605-2.592.715a4.452 4.452 0 001.96-2.468c-.863.514-1.817.89-2.828 1.09a4.422 4.422 0 00-7.542 4.03A12.55 12.55 0 012.895 4.53a4.425 4.425 0 001.368 5.897 4.42 4.42 0 01-2.007-.554v.055c0 2.212 1.572 4.052 3.66 4.466a4.43 4.43 0 01-2 .077 4.428 4.428 0 004.134 3.073 8.883 8.883 0 01-5.504 1.896c-.36 0-.72-.024-1.08-.063a12.545 12.545 0 006.8 1.995c8.136 0 12.59-6.739 12.59-12.59 0-.192-.006-.383-.014-.574.857-.616 1.604-1.386 2.195-2.265z" />
        </svg>
      </a>
     
      <a href="https://www.linkedin.com/in/laura-padilla-1a247033b/" class="hover:text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 20h-3v-10h3v10zm-1.5-11.268c-.966 0-1.75-.784-1.75-1.75s.784-1.75 1.75-1.75 1.75.784 1.75 1.75-.784 1.75-1.75 1.75zm13.5 11.268h-3v-5.604c0-3.338-4-3.076-4 0v5.604h-3v-10h3v1.354c1.396-2.586 7-2.777 7 2.476v6.17z" />
        </svg>
      </a>
      
      <a href="https://github.com/LauraPadilla03" class="hover:text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M12 2.163c-5.314 0-9.628 4.314-9.628 9.63 0 4.277 2.769 7.904 6.608 9.194.482.088.663-.21.663-.466 0-.231-.008-.843-.013-1.656-2.69.585-3.258-1.296-3.258-1.296-.438-1.11-1.07-1.406-1.07-1.406-.874-.597.067-.585.067-.585.965.067 1.471.99 1.471.99.859 1.471 2.255 1.046 2.804.8.088-.62.336-1.046.611-1.287-2.145-.244-4.401-1.072-4.401-4.772 0-1.053.375-1.914.989-2.588-.099-.243-.428-1.225.095-2.554 0 0 .806-.26 2.637.989a9.179 9.179 0 012.4-.325c.816.004 1.64.111 2.4.325 1.831-1.249 2.636-.99 2.636-.99.524 1.329.195 2.311.096 2.554.615.675.988 1.535.988 2.588 0 3.711-2.261 4.525-4.412 4.764.345.297.653.884.653 1.781 0 1.287-.011 2.33-.011 2.648 0 .259.18.559.67.464 3.835-1.294 6.606-4.919 6.606-9.193 0-5.316-4.313-9.63-9.628-9.63z" />
        </svg>
      </a>
    </div>
  </footer>
  
  