---

---

<div class="flex justify-between items-center w-full max-w-4xl mx-auto mt-20">
    <!-- Cuadrado 1 -->
    <div class="w-32 h-32 bg-pink-900 flex justify-center items-center rounded-2xl shadow-lg">
     <img class="w-20 h-20" src="https://cdn-icons-png.flaticon.com/128/1183/1183669.png">
    </div>
    <!-- Cuadrado 2 -->
    <div class="w-32 h-32 bg-pink-900 flex justify-center items-center rounded-2xl shadow-lg">
      <img class="w-20 h-20" src="https://cdn-icons-png.flaticon.com/128/5968/5968267.png">
    </div>
    <!-- Cuadrado 3 -->
    <div class="w-32 h-32 bg-pink-900 flex justify-center items-center rounded-2xl shadow-lg">
      <img class="w-20 h-20" src="https://cdn-icons-png.flaticon.com/128/5968/5968242.png">
    </div>
    <!-- Cuadrado 4 -->
    <div class="w-32 h-32 bg-pink-900 flex justify-center items-center rounded-2xl shadow-lg">
      <img class="w-20 h-20" src="https://cdn-icons-png.flaticon.com/128/1199/1199124.png">
      
    </div>
    
  </div>
  